# Predicting Salary Using Dummy Variables and One Hot encoder

In [98]:
import pandas as pd

In [100]:
df = pd.read_csv('carprices.csv')

In [102]:
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [104]:
pd.get_dummies(df['Car Model'])

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

In [106]:
dummy=pd.get_dummies(df['Car Model']).astype(int)

In [108]:
dummy

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [110]:
pd.concat([df,dummy],axis='columns')

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [178]:
final = pd.concat([df,dummy],axis='columns')

In [180]:
final.drop(['Car Model','Mercedez Benz C class'],axis='columns')

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6        0       1
1     35000          34000         3        0       1
2     57000          26100         5        0       1
3     22500          40000         2        0       1
4     46000          31500         4        0       1
5     59000          29400         5        1       0
6     52000          32000         5        1       0
7     72000          19300         6        1       0
8     91000          12000         8        1       0
9     67000          22000         6        0       0
10    83000          20000         7        0       0
11    79000          21000         7        0       0
12    59000          33000         5        0       0

In [182]:
fdf=final.drop(['Car Model','Mercedez Benz C class'],axis='columns')

In [184]:
X = fdf.drop(['Sell Price($)'],axis='columns')

In [186]:
X

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        0       1
1     35000         3        0       1
2     57000         5        0       1
3     22500         2        0       1
4     46000         4        0       1
5     59000         5        1       0
6     52000         5        1       0
7     72000         6        1       0
8     91000         8        1       0
9     67000         6        0       0
10    83000         7        0       0
11    79000         7        0       0
12    59000         5        0       0

In [188]:
y = fdf['Sell Price($)']

In [190]:
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [192]:
from sklearn import linear_model

In [194]:
Model = linear_model.LinearRegression()

In [196]:
Model.fit(X,y)

LinearRegression()

In [198]:
Model.predict([[70000,5,0,0]])

C:\Users\subha\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([26405.81122329])

In [200]:
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [202]:
dfp=pd.read_csv('to predict.csv')

In [204]:
dfp

   Mileage  Age(yrs)  Audi A5  BMW X5
0    55000         7        0       1
1    65000         8        0       1
2    23000         5        0       0
3    48000         6        1       0
4    29000         8        1       0
5    75000         9        0       0
6    46500         9        0       1
7    80000         7        0       0

In [206]:
Model.predict(dfp)

array([22554.52805823, 17520.85348673, 43801.54965954, 30762.50293496,
       35129.91547312, 19225.3862409 , 23035.65860531, 20039.68302418])

In [208]:
pvalues = Model.predict(dfp)

In [212]:
pvalues

array([22554.52805823, 17520.85348673, 43801.54965954, 30762.50293496,
       35129.91547312, 19225.3862409 , 23035.65860531, 20039.68302418])

In [214]:
dfp['Predicted Price'] = pvalues

In [216]:
dfp.to_csv('PredictedPrice.csv')

In [218]:
import joblib

In [220]:
joblib.dump(Model,'Model_joblib')

['Model_joblib']